.courseBox {
    justify-content: space-between;

    mat-card {
        margin: 20px
    }
}

@media screen and (min-width: 1100px) {
    .courseBox {
        display: flex;
        margin: 20px;

        img {
            height: 300px;
          }
    }
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
  }